@font-face {
  font-family: nb;
  src: url(./NBInternationalProBoo.ttf);
}

@font-face {
  font-family: rejoy;
  src: url(./Rejouice-Headline.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: nb;
}
html,
body {
  height: 100%;
  width: 100%;
}
/* 
#main {
  width: 100%;
} */

#page1 {
  height: 100vh;
  width: 100%;
  /* background-color: red; */
  position: relative;
}

#cursor {
  height: 7.5vw;
  width: 7.5vw;
  background-color: #ff5f38;
  border-radius: 50%;
  position: fixed;
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, -50%);
}
#cursor h5 {
  font-size: 1.2vw;
  font-weight: 500;
}
#page1 video {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#page1-content {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 10;
  /* background-color: rgb(0, 0, 0); */
  color: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  /* padding-bottom: 5vw; */
}

nav {
  /* height: 100px; */
  width: 100%;
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3vw 3vw;
}

nav h3 {
  font-size: 1.4vw;
  font-weight: 100;
}

nav h4 {
  font-size: 1.4vw;
  font-weight: 100;
  display: inline-block;
  position: relative;
  cursor: pointer;
}
nav h4::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
nav h4:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
  cursor: pointer;
}

#page1-content h1 {
  font-family: rejoy;
  font-size: 27vw;
  font-weight: 100;
  line-height: 27vw;
}
#page1-content h1 span {
  font-family: rejoy;
  display: inline-block;
}

#page2 {
  min-height: 100vh;
  width: 100%;
  /* background-color: red; */
  padding: 3vw 3vw;
}

#page2-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2vw 0;
  border-bottom: 2px solid black;
}

#page2-top #page2-part1 h2 {
  font-size: 1.6vw;
  font-weight: 300;
}
#page2-top #page2-part2 h2 {
  margin-top: 2.3vw;
  font-size: 1.6vw;
  font-weight: 300;
}
#page2-bottom {
  width: 100%;
  padding: 2vw 0;
  margin-top: 4vw;
}
#page2-bottom h1 {
  width: 100%;
  text-align: center;
  /* margin-top: 3vw; */
  /* text-indent: 7vw; */
  font-weight: 100;
  text-wrap: wrap;
  text-transform: capitalize;
}
#page2-bottom h1 span {
  font-size: 3.9vw;
  display: inline-block;
  letter-spacing: -0.1vw;
  line-height: 1.2;
}

#page3 {
  min-height: 100vh;
  width: 100%;
  position: relative;
  padding: 3vw;
}

#page3 #page3-top {
  /* background-color: red; */
  text-align: center;
}

#page3 #page3-top h4 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1vw;
  font-size: 1vw;
  font-weight: 500;
}
#page3 #page3-top h4 span {
  margin: 0 0.3vw;
  font-size: 0.65vw;
  background-color: black;
  color: white;
  padding: 5px 6px;
  border-radius: 10px;
}
#page3 #page3-top h2 {
  font-size: 4vw;
  font-weight: 500;
  display: inline-block;
  position: relative;
  line-height: 1;
  cursor: pointer;
  /* border-bottom: 1px solid white; */
}
#page3 #page3-top h2::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1.5px;
  bottom: 0;
  left: 0;
  background-color: black;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

#page3 #page3-top h2:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
#page3-elements {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  height: 75vh;
  width: 100%;
  margin-top: 8vw;
}
#page3-elements #page3-heading {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#page3-elements #page3-heading h1 {
  font-size: 1.6vw;
  font-weight: 100;
}

#page3-elements .box-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#page3-elements .box {
  height: 100%;
  width: 32.5%;
  position: relative;
  overflow: hidden;
  /* background-color: red; */
}
#page3-elements .box video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
#page3-elements .box img {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  transition: all linear 0.7s;
}
#page3-elements .box:hover img {
  opacity: 0;
}

#page4 {
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: black; */
}
#page4 h1 {
  position: relative;
  z-index: 999;
  color: transparent;
  font-size: 3vw;
  background: linear-gradient(to right, blue, orange);
  letter-spacing: 1.5vw;
  -webkit-background-clip: text;
}
#page4 video {
  position: absolute;
  height: 70%;
}
#page4 svg {
  position: absolute;
  height: 60%;
}

#page5 {
  height: 100vh;
  width: 100%;
  padding: 4vw 0;
  position: relative;
}

#page5 h1 {
  font-size: 8vw;
  font-family: rejoy;
  font-weight: 100;
  border-bottom: 1px solid #000000;
  width: 96%;
  margin-left: 2%;
}
#page5-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10vw;
}
#swiperdiv {
  height: 60vh;
  width: 100%;
  /* background-color: red; */
  /* position: relative; */
  /* margin-top: -5%; */
}
.swiper {
  width: 100%;
  height: 100%;
  padding: 2vw 0vw;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  /* display: block; */
  width: 80%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
}

.swiper-slide {
  width: 60%;
}

#loader {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: black;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  gap: 10px;
}
#loader h3 {
  font-size: 2vw;
  font-weight: 100;
}

footer {
  background-color: #222;
  color: #fff;
  padding: 20px 50px;
  width: 100%;
  height: 20%;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  /* flex-wrap: wrap; */
}

.footer-section {
  display: flex;
  margin-right: 20px;
  justify-content: center;
  align-items: center;
  gap: 1.2vw;
}

h4 {
  color: #fff;
}

p {
  margin: 8px 0;
}

ul {
  list-style: none;
  padding: 0;
}

.social-links {
  display: flex;
}

.social-icon {
  margin-right: 10px;
  text-decoration: none;
  color: #fff;
}
.quick-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2vw;
}
.quick-links li {
  margin-bottom: 5px;
  display: flex;
  gap: 2;
}
.quick-links li a {
  color: white;
  text-decoration: none;
}
.quick-links li a:hover {
  color: rgb(179, 174, 174);
}
.footer-bottom {
  margin-top: 20px;
  text-align: center;
}

#menu-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 7%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
}

#menu-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}

.menu-links {
  list-style: none;
  padding: 0;
}

.menu-links li {
  margin-bottom: 15px;
}

.menu-links a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}

#menu-toggle {
  cursor: pointer;
  color: #fff;
  font-size: 18px;
}

#menu-toggle:hover {
  text-decoration: underline;
}

@media (max-width: 500px) {
  #page1-content h1 {
    font-size: 12vw;
    line-height: 12vw;
  }

  #page2-top #page2-part1 h2,
  #page2-top #page2-part2 h2,
  #page2-bottom h1 {
    font-size: 4vw;
  }

  #page3 #page3-top h4 {
    font-size: 2vw;
  }

  #page3 #page3-top h2 {
    font-size: 8vw;
  }

  #page3-elements #page3-heading h1 {
    font-size: 4vw;
  }

  #page4 h1 {
    font-size: 8vw;
    letter-spacing: 4vw;
  }

  #page5 h1 {
    font-size: 16vw;
  }

  .swiper-slide img {
    width: 100%;
  }

  #loader h3 {
    font-size: 4vw;
  }

  footer {
    padding: 10px;
  }

  .footer-content {
    flex-direction: column;
    align-items: center;
  }

  .quick-links li a {
    font-size: 14px;
  }

  #menu-container {
    height: 10%;
  }

  #menu-content {
    font-size: 16px;
  }
}
